list.txt
custom-scopes.txt
ip-targets.txt
ip-scopes.txt
security-txt_URLs.txt
firebounty-scope-url_only.json
targets.txt
hacker-scoper.exe
.vscode
inscope.txt
noscope.txt
main.exe
*.zip
*.nupkg
.inscope
.noscope
todo.txt
test.txt
